{
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "plugin:jest/recommended"
  ],
  "plugins": ["react", "@typescript-eslint", "jest"],
  "env": {
    "browser": true,
    "es6": true
  },
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly"
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": { "jsx": true },
    "ecmaVersion": 2018,
    "sourceType": "module",
    "project": "./tsconfig.json"
  },
  "rules": {
    "linebreak-style": "off",
    "semi-style": ["error", "last"],
    "jsx-quotes": ["error", "prefer-single"],
    "strict": 0,
    "no-console": [
      "warn",
      {
        "allow": ["warn", "error", "info"]
      }
    ],
    "react/jsx-indent": "off",
    "react/jsx-indent-props": "off",
    "react/prop-types": 0,
    "template-curly-spacing": "off"
  },
  "overrides": [
    {
      "files": ["*.ts", "*.tsx"],
      "rules": {
        "@typescript-eslint/await-thenable": "warn",
        "@typescript-eslint/no-for-in-array": "warn",
        "@typescript-eslint/no-implied-eval": "warn",
        "@typescript-eslint/no-misused-promises": "warn",
        "@typescript-eslint/no-unnecessary-type-assertion": "warn",
        "@typescript-eslint/no-unused-vars-experimental": "warn",
        "@typescript-eslint/no-unsafe-call": "warn",
        "@typescript-eslint/prefer-regexp-exec": "warn",
        "@typescript-eslint/no-unused-vars": "warn",
        "@typescript-eslint/no-non-null-assertion": "off"
      }
    }
  ]
}
